
<!-- THIS MSUT BE AUTOMATIC  -->
<td><%= link_to edit_simulation_path(@simulation), @simulation, method: :put, id: @simulation.id, data: { remote: true }, :class => "btn btn-default btn-xs" %></td>

<%= render 'simulation' %>

<%= link_to 'Back', simulations_path %>
