<h1> Welcome to the Gif Pronunciation Simulator! </h1>

<h6>Verdicts are calculated as such:</h6>
<ul>
	<li>If the majority of opinionated people think it is a hard g it returns <em>hard</em>.</li>
	<li>If the majority of opinionated people think it is a soft g it returns <em>soft</em>.</li>
	<li>If the opinions are equal then return <em>push</em>.</li>
</ul>
<h6>At each regular <em>five second state change</em> people will be evaluated as such:</h6>
<ul>
	<li>If a person with an opinion has fewer than 2 opinionated neighbours then they stop having an opinion since there are not enough people to argue with.</li>
	<li>If a person with an opinion has more than 3 opinionated neighbours then they stop having an opinion since their opinion is drowned out by their neighbours.</li>
	<li>If a person without an opinion has exactly 3 opinionated neighbours and at least 2 of them think "Gif" is pronounced with a hard G then they form an opinion that it is pronounced with a hard G</li>
	<li>If a person without an opinion has exactly 3 opinionated neighbours and at least 2 of them think "Gif" is pronounced with a soft G then they form an opinion that it is pronounced with a soft G</li>
</ul>

<h5 class="text-center <%= 'hidden' if user_signed_in? %>"> Please <%= link_to "Sign in", new_user_session_path, :class => "btn btn-sm btn-default"%> or <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-sm btn-default" %> to continue. </h5>